<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500863183404-lmbj593pp50cuhjjhhf3l744v1jclkpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500863183404-lmbj593pp50cuhjjhhf3l744v1jclkpp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVIsqJuQY3HFkNLyHw_zt6dIzgtKPwY0k</string>
	<key>GCM_SENDER_ID</key>
	<string>500863183404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serkan.MoveApp</string>
	<key>PROJECT_ID</key>
	<string>moveapp-9fc89</string>
	<key>STORAGE_BUCKET</key>
	<string>moveapp-9fc89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500863183404:ios:b183f0c76160bba7ceff89</string>
</dict>
</plist>